@model Survey
<div class="dojo-survey col-lg-6">
<h1>
    Submitted Info
</h1>
<p> Your Name : @Model.YourName</p>
<p> Dojo Location : @Model.DojoLocations</p>
<p> Favorite Language : @Model.FavLang</p>
<p> Comments : @Model.JoiningDate</p>
<p> Comments : @Model.Comments</p>

<a href="/" role="button" class="btn btn-info">Go Back</a>
</div>

